@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.pokeimg{
    position: relative;
    overflow: hidden;
}

.pokeimg #pikachuIMG {
    transition: transform 0.3s ease-out;
}
  
.pokeimg:hover #pikachuIMG {
    transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
    #pikachuIMG{
        display: none;
    }
}